*{
    margin: 0;
    padding: 0;
}
.border{
    border: 2px solid lightblue;
    margin: 10px;
}
img{
    margin-top: 20px;
    margin-left: 570px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.name{
    text-align: center;
    margin-top:20px;
}
.about{
    border: 1px solid gray;
    margin: 20px;
    background-color: rgb(179, 165, 165);
}
.about h3{
 margin: 20px;

}
.about p{
    margin: 20px;
    color: blue;


}